<div class="invisible bg-white shadow p-6 text-black group-hover:visible absolute top-full left-1/2 -translate-x-1/2 container mx-auto grid grid-cols-4 gap-4">
    <div>
        <h3 class="border-b border-gray-200">PAGES</h3>
        <nav class="flex flex-col gap-2 font-manrope py-4 text-sm">
            <a class="hover:text-red-500 transition-colors duration-200">Home</a>
            <a class="hover:text-red-500 transition-colors duration-200">About</a>
            <a class="hover:text-red-500 transition-colors duration-200">Classes</a>
            <a class="hover:text-red-500 transition-colors duration-200">Services</a>
            <a class="hover:text-red-500 transition-colors duration-200">Portfolio</a>
            <a class="hover:text-red-500 transition-colors duration-200">Shop</a>
            <a class="hover:text-red-500 transition-colors duration-200">Blog</a>
            <a class="hover:text-red-500 transition-colors duration-200">Contact</a>
        </nav> 
    </div>
    <div>
        <h3 class="border-b border-gray-200">PAGES</h3>
    </div>
    <div>
        <h3 class="border-b border-gray-200">PAGES</h3>
    </div>
    <div>
        <h3 class="border-b border-gray-200">PAGES</h3>
    </div>
</div>