<div class="h-screen bg-[url('https://themerange.net/html/gymfit/gymfit/assets/images/main-slider/1.jpg')] bg-cover bg-center pt-24">
    <div class="max-w-6xl h-full mx-auto">
       <div class="grid h-full grid-cols-5 items-center">
            <div class="col-span-3 space-y-8">
                <p class="text-red-500 text-2xl font-manrope font-bold">Welcome to Gymfit</p>
                <h2 class="text-white text-7xl font-bold">Keep your body</h2>
                <h2 class="text-red-500 text-7xl font-bold">Fit & Strong</h2>
                <p class="text-white font-manrope text-lg">Active your health and fitness goals at any stage.</p>
                <div class="space-x-4">
                    <button class="bg-white text-black px-6 h-14 border-x-4 border-red-500">Our Classes</button> 
                    <button class="bg-white text-black px-6 h-14 border-x-4 border-red-500">About Us</button>
                </div>
            </div>
            <div class="col-span-2 self-end">
                <img src="https://themerange.net/html/gymfit/gymfit/assets/images/main-slider/image-1.png" alt="Hero Image">
            </div>
       </div>
    </div>
    <nav class="flex items-center text-white font-manrope absolute bottom-0 left-16 bg-white/10 -rotate-90 origin-bottom-left pr-10 pl-4 py-5 rounded-r-full gap-4">
        <a>Facebook</a> -
        <a>Instagram</a> -
        <a>Youtube</a> -
        <a>Twitter</a>
    </nav>
</div>