<header class="bg-white">
    <div class="container mx-auto flex justify-between items-center">
        <div>Logo <button class="py-4 px-6 bg-black text-white rounded bg-gradient-to-r from-purple-800 to-blue-600 hover:bg-black bg-no-repeat hover:bg-[left_56px] transition-all duration-200">Get a Quote</button></div>
        <div>
            @@include('../nav.html')
        </div>
        <div>
            <button class="py-4 px-6 bg-black text-white rounded bg-gradient-to-r from-purple-800 to-blue-600 hover:bg-black hover:bg-none">Get a Quote</button>
        </div>
    </div>
</header>